
*{
    margin: 0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color:#F9F9F9;
    line-height: 1.2;
    font-family: homa,sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-size: 0.938rem;
    color: #13064B;
  }
@font-face {
    font-family: homa;
    src: url(../font/B\ Homa_0.ttf);
  }


/* NOTE Preloader */
#preloader {
  background: #fff;
  height: 100%;
  left: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999999999;
}
.preloader {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
}

.preloader span {
  position: absolute;
  display: block;
  bottom: 0;
  width: 9px;
  height: 5px;
  border-radius: 5px;
  background: #fff;
  -webkit-animation: preloader 2s infinite ease-in-out;
  animation: preloader 2s infinite ease-in-out;
}

.preloader span:nth-child(2) {
  left: 11px;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.preloader span:nth-child(3) {
  left: 22px;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.preloader span:nth-child(4) {
  left: 33px;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

.preloader span:nth-child(5) {
  left: 44px;
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

.preloader span:nth-child(6) {
  left: 55px;
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

@-webkit-keyframes preloader {
  0% {
    height: 5px;
    transform: translateY(0);
    background: rgba(0, 0, 0, 0.1);
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: #4ea8b9;
  }
  50%, 100% {
    height: 5px;
    transform: translateY(0);
    background: rgba(0, 0, 0, 0.1);
  }
}
@keyframes preloader {
  0% {
    height: 5px;
    transform: translateY(0);
    background: #fff;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: #4ea8b9;
  }
  50%, 100% {
    height: 5px;
    transform: translateY(0);
    background: #fff;
  }
}
/*  NOTE Back to top  */
#btn-back-to-top{
    position: fixed !important;
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 20px;
    opacity: 0;
    background-color: #4a9fb798;
    color:white;
    border-radius:45px;
    
}
#btn-back-to-top:hover , #btn-back-to-top:active{
    background-color: #1e6275;
}
/* *-----------------END------------------- */


/* NOTE Appear Animation */
.appear{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .appear.active{
    transform: translateY(0);
    opacity: 1;
  }
/* *-----------------END------------------- */

/* NOTE Navbar */
header .pc-navbar{
    width: 100%;
    height:68px;
    font-size: 1.1rem;
}
#navbar{
  width: 100%;
  transition: .5s all ease-in-out;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition:  .5s all ease-in-out;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
#navbar-sm{
  height:3.525rem;
  background-color: white;
  transition: .5s all ease-in-out;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition:  .5s all ease-in-out;
  z-index: 99999999;
}
#navbar-sm .navbar-toggler{
  border: none !important;
}
#navbar-sm .navbar-toggler:hover , #navbar-sm .navbar-toggler:active , #navbar-sm .navbar-toggler:focus{
  border: none !important;
}
#navbar-sm .form{
  width: 100%;
  border-radius:0;
  box-shadow: none;
  background-color:white;
  border-radius: 3px;
}
#navbar-sm .form:focus-within{
  border-radius: 10px 10px 0 0 !important;
}
#navbar-sm .dropdown .dropdown-menu{
  width: 10px;
  margin-top:10px;
  border-radius: 10px;
  z-index: 999999999999;
  box-shadow: 0px 8px 10px rgb(225, 225, 225);
}
#navbar-sm .dropdown .dropdown-menu li{
  font-size:0.9rem;
}
.pc-navbar .li-style{
    padding:0.5rem;
}
.pc-navbar ul li a{
  transition: .3s all ease-in-out;
  -webkit-transition: .3s all ease-in-out;
  -moz-transition:  .3s all ease-in-out;
}
.pc-navbar ul li a:hover{
  color:#4A9FB7 !important;
}
.dropdown-style{
    position: absolute;
    top: 80%;
    left: -75%;
    width: 240px;
    height:200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 25px 65px 0 rgb(0 0 0 / 10%);
    display: block;
    margin: 0;
    opacity: 0;
    padding: 10px!important;
    text-align: right;
    transform: scale(.95);
    transform-origin: top;
    visibility: hidden;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition:  .2s all ease-in-out;
}
.dropdown:hover .dropdown-style{
  top: 120%;
  opacity: 1;
  visibility:visible;
}
.dropdown-style .dropdown-custom-item{
  height: 15%;
  transition: .2s
}
.dropdown-style .dropdown-custom-item:hover{
  background-color: #4a9fb729;
  border-radius: 10px;
  cursor: pointer;
}
.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #4A9FB7;
    --border-radius: 20px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    -webkit-transition: border-radius 0.5s ease;
    transition: border-radius 0.5s ease;
    box-shadow:  6px 6px 32px #e7e7e7,
                -6px -6px 32px #fdfdfd;
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    -webkit-transition: -webkit-transform var(--timing) ease;
    transition: -webkit-transform var(--timing) ease;
    transition: transform var(--timing) ease;
    transition: transform var(--timing) ease, -webkit-transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset{
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:-moz-placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  input:not(:-ms-input-placeholder) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }
  .navbar-nav li a {
    color: rgb(5, 0, 0) !important;
  }
  @media (min-width : 992px) {
    .offcanvas {
      visibility      : visible;
      position        : relative;
      background      : none;
      border          : none;
      justify-content : end;
      color           : red;
    }
  }
  @media (max-width : 992px) {
    .offcanvas {
      width : 280px !important;
    }
    .offcanvas li{
      padding: 10px;
      font-size: 1rem;
    }
    .offcanvas-start-lg {
      top          : 0;
      right        : 0;
      border-right : 1px solid rgba(0, 0, 0, .2);
      transform    : translateX(100%);
    }
    .form{
      box-shadow: 1px 10px 20px #f4f4f4,
                1px 10px 20px #fdfdfd;
    }
  }

/* *-----------------END------------------- */


.main-head{
  display: flex;
  flex-direction: column;
}
/* NOTE Home Banner */
.home-banner{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:white;
}
.home-banner img{
  width: 100%;
  height:540px;
}
.btn-banner , .main-btn{
  width: 30%;
  height:45px;
  border: 1px solid rgba(255, 0, 0, 0);
  font-size: 1.2rem;
  background: linear-gradient(170deg,#4ea8b9 25%,#2a5caa 180%);
  transition: .2s all ease-in-out;
  --hover: #4ea8b9;
}
.btn-banner:hover, .btn-banner:focus ,.main-btn:hover , .main-btn:focus{
  border: 1px solid rgba(255, 0, 0, 0);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em); 

}
@media (max-width: 992px){
  .home-banner{
    height:auto;
    margin-top:100px;
    align-items:center
  }
  .home-banner img{
    height:240px;
  }
  .navbar-toggler , .btn , .btn-white , .btn-close{
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
  }
  .home-banner #carouselExample img{
    height:233px;
  }
  .home-banner h1{
    font-size: 2.3rem !important;
  }
  .btn-banner{
    width: 35%;
  }
  #btn-back-to-top{
    background-color: #4a9fb75d;
  }
  #btn-back-to-top:active{
    background-color: #1e6275;
}
}
/* *-----------------END------------------- */

/* NOTE Product Cards */

.products .product-card .card{
  border: 1px solid rgba(255, 0, 0, 0);
  background: #ffffff;
  box-shadow:
  1px 5px 11px #dbdbdb,
  -1px -5px 11px #ffffff;
  transition:.2s all ease-in-out;
  --hover: #9e9c9c;
}
@media (min-width: 768px) {
.products .product-card .card:hover{
  cursor: pointer;
  box-shadow: 0 1.5em 1.5em -1.4em var(--hover);
  transform: translateY(-0.25em);
}
}
@media (max-width: 768px) {
  .products .product-card .card:active{
    cursor: pointer;
    box-shadow: 0 1.5em 1.5em -1.4em var(--hover);
    transform: translateY(-0.25em);
  }
}
.products .main-btn{
  display:flex;
  align-items:center;
  justify-content:center;
  width:180px;
  height:52px;
  font-size: 20px;
}



/* NOTE Service */
.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #4ea8b9;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}
.service-home {
  position: relative;
  margin-top:130px;
}

.service-item i {
  font-size: 35px;
  float: right;
  color:#337784;
  width: 65px;
  height: 120px;
}



/* NOTE Footer */
.footer-main{
  width:100%;
  height:auto;
  margin-top:100px;
  background-color:#1A1D2D;
  color:white;

}
.footer-main .back-top{
  width:100%;
  height:3rem;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size:0.913rem ;
  background-color:#37475A;
  color: rgb(255, 255, 255);
  z-index: 9999999;
}
.footer-main a{
  text-decoration: none;
}
@media (max-width: 768px){
  .footer-main .back-top{
    height:2rem;
    font-size:0.813rem ;
  }
}
.footer-main button:hover {
  color: rgb(220, 217, 217);
}
.footer-main button:after {
  content: "";
  background: #515a8a;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
} 
.footer-main button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.footer-main .footer-top{
  width:100%;
  height:auto;
  padding: 70px 0 10px;
}
.footer-main .footer-top h3{
  font-size: 1.563rem;
  color: #fff;
  position: relative;
  padding-bottom: 20px;
}
.footer-main .footer-top h3::after{
  content: "";
    display: block;
    width: 100%;
    width: 30px;
    height: 1px;
    margin-top: 20px;
    background-color: #b0b0b1;
}
.footer-main .footer-top ul{
  padding-right: 0;
}
.footer-main .footer-top ul li{
  display: block;
  line-height: 1.8;
}
.footer-main .footer-top ul li a{
    color: #93a1b0;
    display: inline-block;
    padding: 6px 0;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
    transition: 0.15s all ease-in-out;
}
.footer-main .footer-top ul li a:hover{
  color:white
}

.footer-main .footer-bottom{
  width: 100%;
  height:auto;
  position: relative;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.142);
}
.footer-main .footer-bottom .footer_footerLabel{
    position: absolute;
    top: -12px;
    font-size: 16px;
    line-height: 1;
    display: inline-block;
    background: #1a1d2d;
    padding: 5px 10px;
    margin-right: -10px;
    color: #fff;
}
.footer-main .footer-bottom span{
    color: rgb(240, 240, 240);
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
}
.footer-main .footer-bottom ul li{
  display: inline-block !important;
}
.footer-main .footer-bottom ul li a{
  color:white
}
.footer-main .footer-bottom .footer_copyrightText p{
  color: #93a1b0!important;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 15px;
}