
*{
    margin: 0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}

body {
    height:2000px;
    background-color:#F9F9F9;
    line-height: 1.2;
    font-family: homa, sans-serif;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-size: 0.938rem;
    color: #13064B;
  }
  @font-face {
    font-family: homa;
    src: url(../font/B\ Homa_0.ttf);
  }

/* NOTE Progress Bar */
#progress-bar{
    position:fixed;
    height:5px;
    margin-top:2px;
    width:0%;
    background:#56CCF2;
    background:-webkit-linear-gradient(to right,#4A9FB7,#56CCF2);
    background:linear-gradient(to right,#4A9FB7,#56CCF2)
}
/* *-----------------END------------------- */

/*  NOTE Back to top  */
#btn-back-to-top{
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 30px;
    right: 20px;
    opacity: 0;
    background-color: #4A9FB7;
    color:white;
    border-radius:45px;
}
#btn-back-to-top:hover{
    background-color: #1e6275;
}
/* *-----------------END------------------- */


/* NOTE Appear Animation */
.appear{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .appear.active{
    transform: translateY(0);
    opacity: 1;
  }
/* *-----------------END------------------- */


header .pc-navbar{
    height:88px;
    width: 100%;
    display: flex;
    align-items: center !important;
    font-size: 1.1rem;
}
#navbar{
  width: 100%;
  background-color: white;
  transition: .5s all ease-in-out;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition:  .5s all ease-in-out;
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
}
#navbar-sm{
  background-color: white;
  transition: .5s all ease-in-out;
  -webkit-transition: .5s all ease-in-out;
  -moz-transition:  .5s all ease-in-out;
}
.pc-navbar ul li{
    padding:0.5rem;
}
.pc-navbar ul li a:hover{
  color:#4A9FB7;
}

.dropdown-style{
    position: absolute;
    top: 80%;
    left: -75%;
    width: 240px;
    height:200px;
    z-index: 999;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 25px 65px 0 rgb(0 0 0 / 10%);
    display: block;
    margin: 0;
    opacity: 0;
    padding: 10px!important;
    text-align: right;
    transform: scale(.95);
    transform-origin: top;
    visibility: hidden;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition:  .2s all ease-in-out;
}
.dropdown:hover .dropdown-style{
  top: 120%;
  opacity: 1;
  visibility:visible;
}
.dropdown-style .dropdown-custom-item{
  height: 15%;
  transition: .2s
}
.dropdown-style .dropdown-custom-item:hover{
  background-color: #4a9fb729;
  border-radius: 10px;
}
.form button {
    border: none;
    background: none;
    color: #8b8ba7;
  }
  /* styling of whole input container */
  .form {
    --timing: 0.3s;
    --width-of-input: 200px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #4A9FB7;
    --border-radius: 20px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    -webkit-transition: border-radius 0.5s ease;
    transition: border-radius 0.5s ease;
    box-shadow:  6px 6px 32px #e7e7e7,
                -6px -6px 32px #fdfdfd;
  }
  /* styling of Input */
  .input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
  }
  /* styling of animated border */
  .form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    -webkit-transition: -webkit-transform var(--timing) ease;
    transition: -webkit-transform var(--timing) ease;
    transition: transform var(--timing) ease;
    transition: transform var(--timing) ease, -webkit-transform var(--timing) ease;
  }
  /* Hover on Input */
  .form:focus-within {
    border-radius: var(--after-border-radius);
  }
  
  input:focus {
    outline: none;
  }
  /* here is code of animated border */
  .form:focus-within:before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
  /* styling of close button */
  /* == you can click the close button to remove text == */
  .reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
  }
  /* close button shown when typing */
  input:not(:-moz-placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  input:not(:-ms-input-placeholder) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  input:not(:placeholder-shown) ~ .reset {
    opacity: 1;
    visibility: visible;
  }
  /* sizing svg icons */
  .form svg {
    width: 17px;
    margin-top: 3px;
  }
  .navbar-nav li a {
    color: rgb(5, 0, 0) !important;
  }
  @media (min-width : 992px) {
    .offcanvas {
      visibility      : visible;
      position        : relative;
      background      : none;
      border          : none;
      justify-content : end;
      color           : red;
    }
  }
  @media (max-width : 992px) {
    .offcanvas {
      width : 280px !important;
    }
    .offcanvas li{
      padding: 10px;
      font-size: 1rem;
      font-weight: bold;
    }
    .offcanvas-start-lg {
      top          : 0;
      left         : 0;
      border-right : 1px solid rgba(0, 0, 0, .2);
      transform    : translateX(-100%);
    }
    .form{
      box-shadow: 1px 10px 20px #f4f4f4,
                1px 10px 20px #fdfdfd;
    }
  }
.banner{
    width:100%;
    height:34.563rem;
    background-color:white;
}
